:root {
    --primary-color: #fff;
    --secondary-color: #d39b3e;
    --text-color: #1a1a1a;
    --button-color: #4d90fe;
}

body {
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

.subtitle {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    white-space: nowrap;
}

.pading-all {
    padding: 150px 0;
}

.wrapper {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

.border-button {
    transition: all 0.4s;
}

.border-button:hover {
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.border-button:hover img {
    filter: brightness(0) saturate(100%) invert(92%) sepia(12%) saturate(6899%) hue-rotate(328deg) brightness(89%) contrast(84%);
}

.blue-button {
    transition: all 0.4s;
}

.blue-button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.link-hover {
    position: relative;
}

.link-hover::before {
    content: "";
    width: 0;
    height: 1px;
    background: var(--button-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}

.footer__nav__link {
    position: relative;
}

.footer__nav__link::before {
    content: "";
    width: 0;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}

.footer__nav__link:hover:before {
    width: 100%;
}


.link-hover:hover:before {
    width: 100%;
}

.header {
    position: absolute;
    top: 30px;
    left: 50%;
    max-width: 1420px;
    width: 100%;
    height: 99px;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 136px;
    height: 99px;
}

.header__logo a {
    width: 100%;
    height: 100%;
    display: flex;
}

.header__logo a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero {
    position: relative;
    height: 938px;
    padding: 272px 0 100px 0;
}

.hero .wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero__title {
    font-size: 65px;
    font-weight: 800;
    line-height: 75px;
    text-transform: uppercase;
    max-width: 892px;
    width: 100%;
    margin-bottom: 20px;
}

.hero__description {
    max-width: 597px;
    width: 100%;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.hero__box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero__cta-btn {
    display: inline-flex;
    padding: 18px 40px;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
}

.hero__cta-btn--request-quote {
    background: var(--button-color);
}

.hero__cta-btn--services {
    border: 1px solid var(--primary-color);
}

.hero__services {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.hero__service-link {
    display: inline-flex;
    padding: 7px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(7.5px);
    color: var(--primary-color);
    line-height: 21px;
    text-decoration: none;
}

.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
}

.hero__image::after {
    content: "";
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__item {
    position: relative;
}

.nav__lin-active {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav__lin-active::after {
    content: "";
    background: url(../image/sub-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13.984px;
    height: 6.016px;
    display: flex;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(99%) sepia(76%) saturate(2%) hue-rotate(106deg) brightness(111%) contrast(100%);
}


.nav__lin-active:hover::after {
    filter: none;
}



.nav__lin-active:hover {
    border-radius: 20px 20px 0 0;
}

.nav__item:hover .sub-list {
    height: auto;
    padding-bottom: 8px;
}


.sub-list {
    position: absolute;
    top: 100%;
    height: 0;
    left: 0;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 14px;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.sub-list:hover {
    height: auto;
}

.services-about-company__stats .about-company__stat {
    background: transparent;
    width: 220px;
    height: 188px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

.services-about-company__stats .about-company__stat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-list a {
    color: var(--text-color);
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    transition: all 0.4s;
}

.sub-list a:hover {
    color: var(--button-color);
}

.nav__item {
    padding: 6px 14px;
    border-radius: 20px;
}

.nav__item:hover {
    background: var(--primary-color);
}

.video__container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav__link {
    color: var(--primary-color);
    line-height: 21px;
    text-decoration: none;
}

.nav__lin-active:hover {
    background: var(--primary-color);
    color: var(--text-color);
    border-radius: 20px 20px 0 0;
}

.nav__item:hover .nav__link {
    color: var(--text-color);
}

.header__email-link {
    display: inline-flex;
    padding-left: 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    padding-left: 30px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.header__email-link span {
    display: flex;
    width: 49px;
    height: 49px;
    padding: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--primary-color);
}

.services .wrapper {
    display: flex;
    gap: 50px;
}

.services__grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.services__card {
    width: calc(50% - 10px);
    position: relative;
    height: 393px;
    overflow: hidden;
    padding: 29px 23px 54px 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.services__card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.services__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__card-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(63, 34, 0, 0.25) 0%, rgba(63, 34, 0, 0.25) 100%);
    filter: blur(1px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.services__card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
}

.services__card-icon {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 4.893px 4.893px 3.893px 3.893px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--primary-color);
    margin-left: auto;
}

.services__card-icon img {
    width: 15px;
    height: 15px;
    aspect-ratio: 1/1;
    object-fit: none;
}

.services__card-title {
    font-size: 29px;
    font-weight: 700;
    line-height: 34px;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: auto;
}

.services__card-description {
    max-width: 429px;
    width: 100%;
    line-height: 21px;
    margin-bottom: 30px;
}

.services__cta-btn {
    display: inline-flex;
    padding: 18px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
    width: max-content;
}

.why-choose-us .wrapper {
    display: flex;
    gap: 30px;
}

.why-choose-us .wrapper h2 {
    width: 330px;
}

.why-choose-us__left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.why-choose-us__description {
    max-width: 460px;
    width: 100%;
    color: #909090;
    font-size: 18px;
    line-height: 21px;
}

.why-choose-us__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.why-choose-us__card {
    width: calc(50% - 10px);
    height: 187px;
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    overflow: hidden;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.why-choose-us__card-image {
    width: 157px;
    min-width: 157px;
    height: 157px;
    border-radius: 10px;
    overflow: hidden;
}

.why-choose-us__card-content {
    display: flex;
    flex-direction: column;
}

.why-choose-us__card-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: auto;
}

.why-choose-us__card-description {
    color: var(--text-color);
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.why-choose-us__card-icon {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 3px 3px 4px 4px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    margin-left: auto;
}

.recent-works .wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.recent-works-title {
    display: flex;
    align-items: center;
    gap: 88px;
}

.recent-works__description {
    color: #909090;
    font-size: 18px;
    line-height: 21px;
    max-width: 580px;
    width: 100%;
}

.recent-works__view-all {
    margin-left: auto;
    display: flex;
    width: max-content;
    white-space: nowrap;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
}

.recent-works__view-all img {
    width: 15px;
    height: 15px;
}

.recent-works__grid {
    display: flex;
    gap: 20px;
}

.recent-works__bigs {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recent-works__location {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #909090;
    font-size: 14px;
    line-height: 21px;
}

.recent-card__description {
    color: #909090;
    line-height: 21px;
    max-width: calc(100% - 100px);
    width: 100%;
    margin-bottom: 10px;
}

.recent-works__bigs .recent-works__location {
    margin-bottom: 15px;
}

.recent-works__location img {
    width: 11.176px;
    height: 17.586px;
}

.recent-works__bigs .recent-works__title {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 10px;
    max-width: calc(100% - 100px);
    width: 100%;
}

.recent-works__title a {
    color: inherit;
    text-decoration: none;
}

.recent-works__bigs .recent-works__image {
    width: 100%;
    height: 377px;
    min-height: 377px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.recent-works__bigs .recent-works__card-image {
    width: 100%;
    height: 100%;
}

.recent-works__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61px;
    height: 61px;
    background: transparent;
    border: none;
    padding: 0;
}

.recent-works__box {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.recent-works__services {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.recent-works__service {
    display: inline-flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--text-color);
    backdrop-filter: blur(7.5px);
    color: var(--text-color);
    font-size: 14px;
    line-height: 19px;
}

.recent-works__cta {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--button-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.recent-works__cta img {
    width: 13px;
    height: 13px;
}

.recent-works__box .recent-works__item {
    display: flex;
    gap: 20px;
}

.recent-works__box .recent-works__image {
    width: 220px;
    height: 176px;
    border-radius: 20px;
    overflow: hidden;
    min-width: 220px;
}

.recent-works__box .recent-works__title {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    max-width: calc(100% - 100px);
    margin-bottom: 5px;
}


.recent-works__details {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.projects {
    position: relative;
    overflow: hidden;
}

.projects .wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.projects-maps {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.projects__content {
    width: 580px;
    height: 632px;
    border-radius: 10px;
    background: var(--primary-color);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px 20px 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--button-color) #ccc;
}

.projects__content::-webkit-scrollbar {
    width: 8px;
}

.projects__content::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 10px;
}

.projects__content::-webkit-scrollbar-thumb {
    background-color: var(--button-color);
    border-radius: 10px;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects__item {
    border-radius: 20px;
    border: 1px solid var(--button-color);
    min-height: 93px;
    padding: 15px;
    display: flex;
    gap: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.projects__item-image {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.projects__item.active .projects__item-image {
    width: 132px;
    height: 120px;
    min-width: 132px;
    border-radius: 20px;
    overflow: hidden;
}

.projects__item.active {
    background: var(--button-color);
}

.projects__item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects__item-lcoation {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #909090;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    transition: all 0.4s;
}

.projects__item.active .projects__item-lcoation {
    color: var(--primary-color);
}

.projects__item-lcoation img {
    width: 11.176px;
    height: 17.586px;
}

.projects__item.active .projects__item-lcoation img {
    content: url(../image/location-white.svg);
}

.projects__item-title {
    color: #909090;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    transition: all 0.4s;
}

.projects__item.active .projects__item-title {
    color: var(--primary-color);
}

.projects__item-description {
    font-size: 0;
    color: var(--primary-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects__item.active .projects__item-description {
    line-height: 21px;
    font-size: 16px;
    padding-top: 7px;
}

.projects__item-icon {
    display: flex;
    width: 30px;
    height: 30px;
    min-width: 30px;
    padding: 4.893px 4.893px 3.893px 3.893px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #909090;
    margin-left: auto;
}

.projects__item-icon img {
    width: 15px;
    height: 15px;
    object-fit: none;
    filter: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(12%) hue-rotate(356deg) brightness(92%) contrast(84%);
}

.projects__item.active .projects__item-icon {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
}

.projects__item.active .projects__item-icon img {
    filter: brightness(0) saturate(100%) invert(4%) sepia(10%) saturate(16%) hue-rotate(330deg) brightness(104%) contrast(87%);
}

.how-we-work .wrapper {
    display: flex;
    gap: 140px;
    align-items: stretch;
}

.how-we-work-box {
    width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.how-we-work__description {
    color: #909090;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-top: auto;
}

.how-we-work__cta-btn {
    width: max-content;
    padding: 14px 40px;
    border-radius: 30px;
    background: var(--button-color);
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.how-we-work__content {
    display: flex;
    gap: 20px;
    align-items: stretch;
    width: calc(100% - 360px);
}

.how-we-work__steps {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 340px;
}

.how-we-work__step {
    border-radius: 10px;
    border: 1px solid var(--text-color);
    background: radial-gradient(745.95% 272.17% at -60.53% -72.38%, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.10) 100%);
    backdrop-filter: blur(5px);
    min-height: 111px;
    padding: 15px;
    display: flex;
    gap: 15px;
}

.how-we-work__number {
    color: #B3B3B3;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
}

.how-we-work__step-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.how-we-work__step-description {
    color: var(--text-color);
    font-size: 14px;
    line-height: 21px;
}

.how-we-work__contents {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.how-we-work__media {
    width: calc(100% - 360px);
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.hero__background-img,
.hero__background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.hero__background-video {
    opacity: 0;
}

.hero__background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.how-we-work__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-we-work__video-btn {
    width: 61px;
    height: 61px;
    padding: 0;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.how-we-work__image {
    width: 100%;
    height: 384px;
}

.contact-form {
    padding: 120px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contact-form__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contact-form__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(63, 34, 0, 0.50) 0%, rgba(63, 34, 0, 0.50) 100%);
    filter: blur(1px);
}

.contact-form__container {
    position: relative;
    z-index: 2;
    width: 580px;
    height: 343px;
    border-radius: 10px;
    background: var(--primary-color);
    padding: 30px 62px;
    display: flex;
    flex-direction: column;
}

.contact-form__container h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 15px;
}

.contact-form__description {
    color: #909090;
    text-align: center;
    line-height: 21px;
    margin-bottom: 35px;
}

.contact-form__form {
    display: flex;
    flex-direction: column;
}

.contact-form__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 15px;
    color: rgba(26, 26, 26, 0.50);
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.contact-form__input:nth-of-type(1) {
    margin-bottom: 25px;
}

.clients-swiper .swiper-wrapper {
    transition-timing-function: ease-in-out !important;
}

.contact-form__input::placeholder {
    color: rgba(26, 26, 26, 0.50);
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.contact-form__input:nth-of-type(2) {
    margin-bottom: 40px;
}

.contact-form__submit-btn {
    color: #FFF;
    font-family: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    width: max-content;
    padding: 14px 40px;
    border-radius: 30px;
    background: var(--button-color);
    margin: 0 auto;
    border: none;
}

.testimonials .wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.testimonials__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.testimonials__box-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.testimonials__view-all {
    display: flex;
    width: max-content;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    border-radius: 30px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.testimonials__view-all img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.testimonials__box-info span {
    color: #909090;
    line-height: 21px;
    text-align: right;
}

.testimonials__list {
    width: 100%;
    height: 306px;
    border: 1px solid #000;
    border-radius: 10px;
}

.about-company .wrapper {
    display: flex;
    gap: 50px;
}

.about-company__text {
    width: calc(100% - 750px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-company__video {
    height: 377px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.about-company__description {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
}

.about-company__details {
    color: #909090;
    line-height: 21px;
}

.about-company__stats {
    margin-top: auto;
    display: flex;
    gap: 20px;
}

.about-company__stat {
    display: inline-flex;
    padding: 15px 69px 15px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
    border-radius: 10px;
    background: #A5C7FE;
    color: var(--primary-color);
}

.about-company__stat:nth-of-type(1) {
    color: var(--text-color);
    background: rgba(179, 179, 179, 0.30);
}

.about-company__stat-number {
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
}

.about-company__stat-description {
    font-size: 14px;
    line-height: 18px;
}

.about-company__media {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.about-company__video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61px;
    height: 61px;
    padding: 0;
    border: none;
    background: transparent;
}

.clients-trust-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.clients-trust-us h2 {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
}

.clients-trust-us__logo {
    max-width: 200px;
    height: 200px;
}

.clients-trust-us__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ceo-company .wrapper {
    display: flex;
    gap: 32px;
}

.ceo-company__text {
    width: 100%;
    max-width: 621px;
    margin-right: 67px;
}

.ceo-company__description {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 30px;
}

.ceo-company__details {
    color: #909090;
    line-height: 21px;
    margin-bottom: 40px;
}

.ceo-company__cta-btn {
    width: max-content;
    padding: 14px 40px;
    border-radius: 30px;
    background: var(--button-color);
    color: var(--primary-color);
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    line-height: 21px;
}

.ceo-company__image {
    width: 460px;
    min-width: 460px;
    height: 578px;
    border-radius: 20px;
    overflow: hidden;
}

.faq .wrapper {
    display: flex;
    gap: 32px;
}

.faq h2 {
    width: 190px;
    min-width: 190px;
}

.faq__items {
    display: flex;
    gap: 20px;
}

.faq__items-col {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 25px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
    backdrop-filter: blur(7.5px);
}

.faq__item-question {
    background: transparent;
    border: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    line-height: 21px;
    min-height: 55px;
    gap: 16px;
}

.faq__item-question img {
    width: 8.892px;
    height: 8.874px;
}

.faq__item-answer p {
    color: var(--text-color);
    line-height: 21px;
}

.contact-us {
    position: relative;
}

.contact-us .wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 32px;
}

.contact-us .wrapper>h2 {
    width: 190px;
    min-width: 190px;
    color: var(--primary-color);
}

.contact-us__section {
    width: calc(100% - 122px);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-us__box {
    display: inline-flex;
    padding: 40px 67px 40px 30px;
    gap: 82px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

.contact-us__description {
    max-width: 253px;
    color: var(--primary-color);
    line-height: 21px;
}

.contact-us .contact-form__container {
    width: 460px;
    height: auto;
    min-width: 460px;
}

.contact-us__content {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 32px;
}

.contact-us__text {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-us__info {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-us__info-item {
    display: flex;
    flex-direction: column;
}

.contact-us__info-item strong {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 15px;
    display: block;
}

.contact-us__info-item a {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.contact-us__info-box {
    display: flex;
    justify-content: space-between;
}

.contact-us__info-box .contact-us__info-item:nth-last-of-type(1) {
    max-width: 221px;
    width: 100%;
}

.contact-us__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-us__image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
}

.contact-us__image-services::before {
    background: linear-gradient(0deg, rgba(63, 34, 0, 0.50) 0%, rgba(63, 34, 0, 0.50) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
}

.how-we-work-services .how-we-work__content {
    width: calc(100% - 350px);
}

.how-we-work-services .how-we-work__steps {
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.how-we-work-services .how-we-work__step {
    flex-direction: column;
    gap: 18px;
    border: none;
}

.how-we-work-services .how-we-work__image {
    height: 236px;
    border-radius: 20px;
    overflow: hidden;
}

.how-we-work-services .how-we-work__contents {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.how-we-work-services .how-we-work__number {
    color: #B3B3B3;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    width: 45px;
}

.how-we-work-services .how-we-work__step-title {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.how-we-work-services .how-we-work__step-description {
    color: var(--text-color);
    font-size: 14px;
    line-height: 21px;
}

.recent-works-services .recent-works__bigs {
    width: calc(33% - 10px);
    gap: 20px;
}

.recent-works-services .recent-works__title {
    max-width: 100%;
    font-size: 22px;
    line-height: 26px;
}

.faq-services .faq__item {
    position: relative;
    overflow: hidden;
    border: none;
    min-height: 89px;
    padding: 0 20px 0 36px;
}

.faq-services .faq__item-question {
    position: relative;
    z-index: 2;
    font-family: Mulish;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    min-height: auto;
    padding: 30px 0 30px 0;
}

.faq-services .faq__item-question span {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 8px 8px 7px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    object-fit: contain;
    transition: all 0.4s;
    position: relative;
}

.faq-services .faq__item.active .faq__item-answer {
    padding-bottom: 0;
    max-height: 500px !important;
}

.faq-services .services__cta-btn {
    margin-bottom: 30px;
}

.faq-services .faq__item.active .faq__item-question span {
    transform: rotate(90deg);
    background: var(--primary-color);
}

.faq-services .wrapper {
    gap: 20px;
}

.faq-services .faq__left {
    width: calc(100% - 480px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.faq__right h3 {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
    text-transform: lowercase;
}

.faq__right p {
    color: #909090;
    font-size: 18px;
    line-height: 21px;
}

.hero__cta-btn--services {
    display: flex;
    align-items: center;
    gap: 18px;
}

.hero__cta-btn--services img {
    width: 15px;
    height: 15px;
}

.faq__right a {
    display: flex;
    width: max-content;
    text-decoration: none;
    border-radius: 30px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    background: var(--button-color);
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    flex-shrink: 0;
    margin-left: auto;
}

.faq-services .faq__right {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-services .faq__item .faq__item-question span img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.faq-services .faq__item.active .faq__item-question span img {
    filter: brightness(0) saturate(100%) invert(9%) sepia(5%) saturate(21%) hue-rotate(347deg) brightness(103%) contrast(98%);
}

.faq-services .faq__item-answer {
    position: relative;
    z-index: 2;
    transition: all 0.4s;
}

.faq-services .services__card-description {
    color: var(--primary-color);
    line-height: 21px;
    margin-bottom: 25px;
}

.faq-services .services__card-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
}

.faq-services .services__card-image::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(63, 34, 0, 0.40) 0%, rgba(63, 34, 0, 0.40) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.why-choose-us__services .why-choose-us__card {
    width: calc(33% - 10px);
    height: 134px;
}

.why-choose-us__services .why-choose-us__card-title {
    margin: auto 0 0 0;
}

.why-choose-us__services .why-choose-us__card-image {
    min-width: 104px;
    width: 104px;
    height: 104px;
}

.recent-works-services .recent-card__description {
    margin-bottom: 34px;
    max-width: 100%;
}

.recent-card__description-box {
    display: flex;
    align-items: flex-end;
}

.recent-works-services .recent-works__cta {
    white-space: nowrap;
}

.recent-works-services .recent-works__services {
    flex-wrap: wrap;
}

.recent-works-services .recent-works__image {
    height: 271px;
    min-height: 271px;
}

.recent-works-services .recent-works__card-image {
    height: 271px;
}

.recent-works-services .recent-works__card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-us__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projects-maps img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    max-width: 360px;
    background: var(--primary-color);
    width: 100%;
    min-height: 100vh;
    z-index: 3;
    transition: all 0.4s ease-in-out;
    padding: 48px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.mobile-menu.active {
    right: 0;
}

.header__burger {
    width: 26px;
    height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.mobile-menu .header__burger {
    margin-left: auto;
}

.header__burger-lines {
    width: 100%;
    height: 2.5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 2.5px;
    background: var(--primary-color);
}

.header__burger.active .header__burger-lines::before {
    transform: rotate(45deg);
    top: 0;
}

.header__burger.active .header__burger-lines::after {
    transform: rotate(-45deg);
    bottom: 0;
}

.header__burger-lines::before {
    content: "";
    width: 100%;
    height: 2.5px;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    background: var(--primary-color);
    top: -7px;
    transition: all 0.4s ease-in-out;
}

.header__burger-lines::after {
    content: "";
    background: var(--primary-color);
    width: 100%;
    height: 2.5px;
    border-radius: 2.5px;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: all 0.4s ease-in-out;
}

.header__burger.active .header__burger-lines {
    background: transparent;
}

.header__burger.active .header__burger-lines::before {
    transform: rotate(45deg);
    top: 0;
}

.header__burger.active .header__burger-lines::after {
    transform: rotate(-45deg);
    bottom: 0;
}

.header__burger {
    display: none;
}

.footer {
    padding: 45px 0;
    background: var(--text-color);
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
    border-bottom: 1px solid #fff;
}

.footer__nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__bottom {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.footer__bottom p {
    font-size: 14px;
    line-height: 21px;
}

.footer__nav__link {
    color: var(--primary-color);
    line-height: 21px;
    text-decoration: none;
}

.footer__top-contact {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footer__top-contact a {
    color: var(--primary-color);
    line-height: 21px;
    text-decoration: none;
}

.footer__email-link {
    display: inline-flex;
    padding-left: 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    padding-left: 30px;
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 21px;
    text-decoration: none;
}

.footer__email-link span {
    display: flex;
    width: 49px;
    height: 49px;
    padding: 11px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: var(--primary-color);
}

.about-company__image {
    height: 100%;
}

.clients-swiper .swiper-slide {
    width: auto;
    flex: 0 0 auto;
}

@media (max-width: 1500px) {
    .pading-all {
        padding: 150px 32px;
    }

    .recent-works__cta {
        font-size: 9px;
    }

    .hero .wrapper {
        padding: 0 32px;
    }

    .header {
        padding: 0 32px;
    }

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    .recent-works-services .recent-works__cta {
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .pading-all {
        padding: 64px 32px;
    }

    .how-we-work__content {
        width: 100%;
    }

    .how-we-work__steps {
        justify-content: space-between;
    }

    .services .wrapper,
    .why-choose-us .wrapper,
    .recent-works__grid,
    .how-we-work .wrapper,
    .about-company .wrapper,
    .about-company .wrapper,
    .faq .wrapper,
    .ceo-company .wrapper,
    .contact-us .wrapper {
        flex-direction: column;
        gap: 32px;
    }

    .footer__top {
        flex-wrap: wrap;
        gap: 16px;
    }

    .footer__top-contact {
        gap: 32px;
    }

    .footer__nav {
        width: calc(100% - 152px);
    }

    .footer__nav__list {
        justify-content: flex-end;
    }

    .why-choose-us__left {
        gap: 32px;
    }

    .about-company__text {
        gap: 32px;
        width: 100%;
    }

    .recent-works__bigs,
    .recent-works__box,
    .how-we-work-box,
    .ceo-company__text,
    .ceo-company__image,
    .contact-us__section,
    .about-company__media {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .ceo-company__text {
        display: flex;
        flex-direction: column;
    }

    .ceo-company__image {
        display: flex;
        justify-content: center;
    }

    .about-company__details {
        margin-bottom: 30px;
    }

    .about-company__video {
        width: 670px;
        margin: 0 auto;
    }

    .how-we-work-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .how-we-work-services .how-we-work__content {
        width: 100%;
    }

    .how-we-work__description {
        margin: 0;
    }

    .recent-works__details {
        max-width: 100%;
    }

    .projects .wrapper {
        gap: 32px;
    }

    .contact-us__text {
        height: auto;
    }

    .contact-us__box {
        gap: 32px;
    }

    .faq__item-question {
        text-align: left;
    }

    .how-we-work__media {
        width: 100%;
    }

    .recent-works__image {
        max-width: 700px;
        margin: 0 auto;
    }

    .recent-works__details {
        height: auto;
    }


    .recent-works__cta {
        font-size: 17px;
    }

    .recent-works__box {
        max-width: 700px;
        margin: 0 auto;
    }

    .mobile-menu .nav .nav__list {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu .nav .nav__list .nav__link {
        color: var(--text-color);
    }

    .mobile-menu .header__burger-lines::before,
    .mobile-menu .header__burger-lines::after {
        background: var(--text-color);
    }

    .recent-works-services .recent-works__grid {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .faq-services .faq__left {
        width: 100%;
    }

    .faq-services .faq__right {
        width: 100%;
    }

    .why-choose-us__services .why-choose-us__grid {
        width: 100%;
    }

    .why-choose-us__services .why-choose-us__card {
        width: calc(33% - 11px);
    }

    .recent-works-services .recent-works__services {
        flex-direction: column;
        align-items: flex-start;
    }

    .recent-works-services .recent-works__bigs {
        min-width: calc(50% - 16px);
        width: 100%;
        flex: 1;
    }
}

@media(max-width: 992px) {
    .nav__list {
        display: none;
    }

    .recent-works-title {
        flex-wrap: wrap;
        gap: 16px;
    }

    .how-we-work-box {
        flex-wrap: wrap;
        gap: 16px;
    }

    .contact-us__box {
        flex-direction: column;
    }

    .contact-us__content {
        margin-bottom: 30px;
    }

    .contact-us .contact-form__container {
        margin: 0 auto;
    }

    .hero__title {
        font-size: 42px;
        line-height: 55px;
    }

    .hero {
        height: 750px;
        padding: 200px 0 64px 0;
    }

    .header__burger {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
}

@media(max-width: 768px) {
    .projects__content {
        width: 100%;
    }

    .about-company__video {
        width: 100%;
    }

    .hero .wrapper {
        padding: 0 16px;
    }

    .hero__title {
        font-size: 40px;
    }

    .pading-all {
        padding: 32px 16px;
    }

    .services__card {
        height: 100%;
        min-height: 400px;
        padding: 16px;
    }

    .services__card-icon {
        margin-bottom: 16px;
    }

    .services__cta-btn {
        padding: 18px 0;
        width: 100%;
    }

    .why-choose-us__grid {
        flex-direction: column;
    }

    .why-choose-us__card {
        width: 100%;
        min-height: 185px;
        height: 100%;
    }

    .recent-works__card-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .recent-works__box .recent-works__item {
        flex-direction: column;
    }

    .recent-works__box .recent-works__image {
        width: 100%;
        height: 250px;
    }

    .recent-works__location {
        margin-bottom: 16px;
    }

    .recent-works__box .recent-works__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .how-we-work__content {
        flex-direction: column-reverse;
    }

    .how-we-work__steps {
        width: 100%;
        min-width: 100%;
    }

    .contact-form {
        padding: 32px 16px;
    }

    .about-company__stat {
        padding: 16px;
    }

    .clients-trust-us__logo {
        width: 150px;
        height: 150px;
    }

    .header {
        padding: 0 16px;
    }

    .footer__nav {
        width: 100%;
    }

    .footer__nav__list {
        justify-content: center;
    }

    .footer__logo {
        margin: 0 auto;
    }

    .footer {
        padding: 32px 16px;
    }

    .faq-services .faq__item-question {
        font-size: 18px;
        line-height: 21px;
    }

    .why-choose-us__services .why-choose-us__card {
        width: calc(50% - 10px);
        height: auto;
        min-height: auto;
    }

    .why-choose-us__services .why-choose-us__grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .how-we-work-services .how-we-work__steps {
        flex-wrap: wrap;
    }

    .how-we-work-services .how-we-work__step {
        width: calc(50% - 10px);
    }

    .recent-works-services .recent-works__bigs {
        width: 100%;
        min-width: 100%;
    }

    .about-company-service .about-company__stats {
        flex-direction: row;
    }

    .about-company-service .about-company__stat:nth-of-type(1) {
        background: transparent;
    }
}

@media (max-width: 576px) {
    .subtitle {
        font-size: 18px;
        white-space: normal;
    }

    .header__email-link {
        font-size: 0;
        padding: 0;
        gap: 0;
    }

    .hero {
        height: auto;
        padding-top: 200px;
    }

    .hero__title {
        font-size: 32px;
        line-height: 40px;
    }

    .hero__description {
        font-size: 16px;
        line-height: 18px;
    }

    .hero__box {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .hero .wrapper {
        gap: 32px;
    }

    .hero__services {
        gap: 8px;
    }

    .services__grid {
        flex-direction: column;
    }

    .services__card {
        width: 100%;
    }

    .why-choose-us__card {
        flex-direction: column;
    }

    .why-choose-us__card-image {
        width: 100%;
        height: 250px;
    }

    .why-choose-us__card-image img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .recent-works__bigs .recent-works__title {
        max-width: 100%;
    }

    .recent-card__description {
        max-width: 100%;
    }

    .recent-works__view-all {
        margin: 0 auto;
    }

    .recent-works__services {
        flex-direction: column;
        align-items: flex-start;
    }

    .recent-works__box .recent-works__title {
        max-width: 100%;
    }

    .recent-works__details {
        max-width: 100%;
    }

    .projects__item.active {
        flex-direction: column;
    }

    .contact-form__container {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .testimonials__box {
        flex-direction: column;
        gap: 16px;
    }

    .about-company__description {
        font-size: 18px;
        line-height: 20px;
    }

    .about-company__stats {
        flex-direction: column;
    }

    .ceo-company__description {
        font-size: 18px;
        line-height: 20px;
    }

    .ceo-company__image {
        width: 100%;
        height: 300px;
        min-width: 100%;
    }

    .ceo-company__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .faq__items {
        flex-direction: column;
    }

    .faq__items-col {
        width: 100%;
    }

    .contact-us__box {
        padding: 16px;
    }

    .contact-us__info {
        gap: 16px;
    }

    .contact-us__info-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .contact-us .contact-form__container {
        width: 100%;
        min-width: 100%;
    }

    .contact-form__submit-btn {
        padding: 14px 0;
        width: 100%;
    }

    .contact-us__content {
        font-size: 18px;
        line-height: 20px;
    }

    .contact-us__info-item strong {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    .testimonials__view-all {
        padding: 8px 16px;
        margin-left: auto;
    }

    .why-choose-us .wrapper h2 {
        width: 100%;
    }

    .header__logo {
        width: 100px;
        height: 70px;
    }

    .footer__nav__list {
        flex-direction: column;
    }

    .footer__top {
        justify-content: center;
    }

    .footer__bottom p {
        text-align: center;
    }

    .about-company-service .about-company__stats {
        flex-wrap: wrap;
    }

    .about-company-service .about-company__stat {
        width: 100%;
    }

    .faq-services .faq__item {
        padding: 0 16px;
    }

    .recent-card__description-box {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }

    .how-we-work-services .how-we-work__steps {
        flex-direction: column;
    }

    .how-we-work-services .how-we-work__step {
        width: 100%;
    }

    .how-we-work-services .how-we-work__step-title {
        font-size: 16px;
    }

    .how-we-work-services .how-we-work__number {
        width: auto;
    }

    .services-about-company__stats .about-company__stat {
        flex-direction: row;
    }
}